extends layout

block content
    h1= role 
    form(action='/', method='post')
        //- Hidden control ensures that role propagates back every time the form is submitted
        input(type='hidden', name='role', value='faculty')
        input(type='hidden', name='ident', value=`${formdata.ident}`)
        p Your ID: #{formdata.ident}
        //- p Query: #{query}
        if !courses || courses.length == 0
            p Professor #{formdata.ident} has no courses 
        else if courses.length > 0
            table
                thead
                    tr
                        each key in Object.keys(courses[0])
                            th= key
                tbody 
                    each course in courses
                        tr 
                            each val in Object.values(course)
                                td= val

        input(type='submit')