extends layout

block content
    h1= role 
    form(action='/', method='post')
        //- Hidden control ensures that role propagates back every time the form is submitted
        input(type='hidden', name='role', value='registrar')
        input(type='hidden', name='ident', value=`${formdata.ident}`)
        p Your ID: #{formdata.ident}

        if !courses || courses.length == 0
            p There are no offerings for the next term
        else if courses.length > 0
            table
                thead
                    tr
                        each key in Object.keys(courses[0])
                            th= key
                        th Edit Offering
                        th Cancel Offering
                tbody 
                    each course in courses
                        tr 
                            each val in Object.values(course)
                                td= val
                            td
                                input(type='radio', name='editOffer', value=`${course['OfferNo']}`)
                            td
                                input(type='radio', name='cancelOffer', value=`${course['OfferNo']}`)

        input(type='submit')
    if cancelOffer
        form(action='/', method='post')
            input(type='hidden', name='role', value='registrar')
            input(type='hidden', name='ident', value=`${formdata.ident}`)
            input(type="hidden", name='cancelOffer', value=`${cancelOffer}`)
            p Cancel offering: #{cancelOffer}
