extends layout

block content
    h1= role 
    form(action='/', method='post')
        //- Hidden control ensures that role propagates back every time the form is submitted
        input(type='hidden', name='role', value='student')
        p Your ID: #{formdata.ident}
        //- p Query: #{query}
        if !courses || courses.length == 0
            p Student #{formdata.ident} enrolled in no courses 
        else if courses.length > 0
            p Student enrolled in the following classes
            table
                thead
                    tr
                        each key in Object.keys(courses[0])
                            th= key
                tbody 
                    each course in courses
                        tr 
                            each val in Object.values(course)
                                td= val
        if !nextterm || nextterm.length == 0
            p There are no courses for the next term 
        else if nextterm.length > 0
            p The next term offers the following classes:
            table
                thead
                    tr
                        each key in Object.keys(nextterm[0])
                            th= key
                tbody 
                    each course in nextterm
                        tr
                            each val in Object.values(course) 
                                td= val
        
        input(type='submit')